

    .nav-bar{
        width: 100%;
        height: 72px;
        background: #fff;
    position: fixed;
    z-index: 1000;}

    /*.nav-barFixed{width: 100%;*/
        /*height: 72px;*/
        /*background: #fff;*/
        /*position: fixed;*/
        /*margin-bottom: 72px;*/



    /*}*/
    .search-box{
        width: 100%;
        height: 72px;
        background: #fff;
        position: absolute;
        top:-72px;
        left: 0;
        border-top: none;

        }
    .search-box input{width:100%;height:100%;
    border:none;
    outline: none;
    padding-left: 25px}
    .search-box i{font-size: 14px;
        position: absolute;
        top: 50%;
        right:5%;
   }
    .nav-bar div,.nav-bar .logo-box a{
        display: inline-block}
    .nav-bar .logo-box{
        position: relative;
        height: 72px;
        display: inline-block;
        }
    .nav-bar .logo-box img{
        position: absolute;
        top:0;
        left: 0;
        width: 172px;
        height: 72px;
        padding-left:14px;
        display: inline-block;
        }
    .nav-bar .logo-box .im2{display: none}
    .nav-bar .logo-box i:nth-child(1){
        position: absolute;
        top: 0;
       left:202px;
        height:72px ;
        line-height: 72px;
        text-align:center}
    .nav-bar .logo-box i:nth-child(2){
        position: absolute;
        top: 0;
        left:96px;
        height:72px ;
        line-height: 72px;
        text-align:center;
        display: none;}



    .nav-bar #header-sxc{

       height: 72px; background: #fff;
        padding-right:2%;
   }
    .nav-bar #header-sxc ul li{line-height: 72px}

    .nav-bar #header-sxc ul li i{
        font-size: 24px;
        color: #aea9c3;}


    .side-box{

        color: #fff;
        width: 20%;
        background: #2c304d;
        height: 100%;
        top: 72px; position: fixed;
        z-index: 999;
        transition: all 0.2s ease;
        display: block;
        padding-top: 20px;
    }

    side-box ul li{
        font-size: 14px;}
    .side-box ul li h3 i,.side-box ul li h3 sapn{display: inline-block}
     .side-box ul li h3{
         line-height: 28px;
         position: relative;}
     .side-box ul li  i:nth-child(1){margin:2px 14px;
         font-size: 14px;
         color: #fff;}
    .side-box ul li:nth-child(1) i:nth-child(2){margin:2px 14px;
        font-size: 14px;
        color: #e75966;}
    .side-box ul li i:nth-child(3){
        position: absolute;
        top: 0;
        right:5%;
        font-size: 14px;}
    .side-box ul li{
        height: 100%;}
    .sub{display: none}
    .sub li:nth-child(1){padding-left:0}
    .sub li:nth-child(1) i:nth-child(3){margin-left:27%}
    .sub li{line-height:38px;padding-left:18%;
        font-size: 10px;}
    .sub{width:90%;background: #252946;
    margin:0 auto;
        font-size: 14px;color: #90a9bb}
    .sub li:nth-child(1){color:#fff;font-size: 12px}
    .sub li:nth-child(2){color:#e75966;}
    .content{
       width:76%;
        height:100%;
    background: #f9f9f9;
    margin-right:2%;
    margin-top: 72px}
    .con-t{
        width: 100%;
        height: 96px;
    line-height: 102px;
    }
    .con-t .l{
        font-size: 20px;}
    .con-t .r{
        width: 112px;
        height: 38px;
    background: #e64b66;
    border-radius: 16px;
    margin:26px 0;
    line-height: 38px;
        text-align: center;
    color: #fff;
        margin-right:2%}
    .con-chart{
        width: 100%;
        height: 546px;

        margin-bottom:24px;
    margin-top:1%}
    .con-chart-ul{
        width:32%;
        height: 100%;
        }
    .con-chart-ul p{
        width: auto;
        height: 258px;
        background: #f0f;
        box-shadow:2px 3px 2px 3px #f3f3f5;
    }
    .con-chart-ul p img{
        width: 100%;
        height: 100%;}
    .con-chart-ul p:nth-child(1){
        margin-bottom: 28px;

    }
    .con-chart-r{
        width: 62%;
        height:548px;
        background: #fff;
        box-shadow:2px 3px 2px 3px #f3f3f5;
        margin-right:2%
   }
    .deliverd-t{width: 100%;height: 68px;line-height: 68px;padding-left: 2%}
    .view{display: inline-block;
        width:80px ;height: 40px;
        border-radius: 10%;text-align: center;
        line-height: 40px;margin-right:2%;margin-top: 10px;
        background: #fff;color:#000;box-shadow:2px 3px 2px 3px #f3f3f5;}
    .deliverd-cot{width:100%;height:400px;padding-left: 2%;}
    .deliverd-cot-l{width:80%;height:400px;}
    .deliverd-cot-r{width: 14%;margin-right:2%}
    .deliverd-cot-r img{width: 100%;
        height: 100%;}
    #container{width: 100%;height: 100%}
    /*.con-news{width: 100%;*/
        /*height: 552px;}*/
    .con-news-ul li{width: 31.5%;
        height: 552px;
    background: #fcc;
    margin-right:2%;
    box-shadow: 2px 2px 2px 0px #f1f1f3}

    .con-news-ul li:nth-child(3){margin-right:0}
    .li-up{
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #eeeeee;
    margin-bottom: 18px}
    .li-up p{margin-left: 10%}
    .li-up i{font-size: 18px;
    margin-right:10%}
    .li-content{width:95%;
        background: #ccc;
    margin:0 auto;
        height: 286px;
    box-shadow: 3px 1px 3px 1px #f6f5f9}
    .li-content img{width:40px;
        height:40px;
    margin:6%}
    .li-content span.r{width:67%;margin-right:2%}
    .li-content span p{
    line-height: 20px}
    .cont-product{
        margin-top: 28px;
        width: 100%;
        height: 690px;
    background: #f60;
    display: flex;
    flex-direction: column;
       box-shadow:0 1px 15px 1px rgba(52,40,104,.08)}
    .cont-product-header{width: 100%;
    height:60px;
        line-height: 60px;
    background: #0ff;
        border-bottom: 1px solid #eeeeee;}
    .cont-product-header .r{
        width: 14.4%;
        line-height: 34px;
        border-radius:10%;
    background:#5d5386;
        height:34px;
    margin-top:12px;

        margin-right:2%;
    }
    .cont-product-header .r span{display: inline-block;
        color:#fff;
    }
    .cont-product-header h4{margin-left:2%;}
    .cont-product-body{
        flex: 1;
    overflow: auto;
        padding: 1.4rem;

    background: #f0f;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        background-color: transparent;

    }
    table {
        font-size: 1rem;
        color: #98a8b4;
        border-collapse: collapse;
        border-spacing: 2px;
        border-color: grey;}
    .styled-checkbox {
        position: relative;
        padding-left: 35px;
        text-align: left;}
    .table thead th {
        vertical-align: middle;
        border: 0 none;
        padding: 20px 12px 20px 12px;
        color: #5d5386;
        font-weight: 600;}
    :root {
        --blue: #007bff;
        --indigo: #6610f2;
        --purple: #6f42c1;
        --pink: #e83e8c;
        --red: #dc3545;
        --orange: #fd7e14;
        --yellow: #ffc107;
        --green: #28a745;
        --teal: #20c997;
        --cyan: #17a2b8;
        --white: #fff;
        --gray: #6c757d;
        --gray-dark: #343a40;
        --primary: #007bff;
        --secondary: #6c757d;
        --success: #28a745;
        --info: #17a2b8;
        --warning: #ffc107;
        --danger: #dc3545;
        --light: #f8f9fa;
        --dark: #343a40;
        --breakpoint-xs: 0;
        --breakpoint-sm: 576px;
        --breakpoint-md: 768px;
        --breakpoint-lg: 992px;
        --breakpoint-xl: 1200px;
        --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
        --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;}
    .mt-2, .my-2 {
        margin-top: .5rem!important;
    }

    .cont-product-footer{
        width:100%;
        height: 62px;
    background: #f00;}
    .cont-taskList{
        margin-top: 26px;
        width:100%;
        height: 658px;
        background:#00f;
   }
    .cont-taskList-ul{
        width: 100%;
        display: flex;
        justify-content: space-around;
        }
    .cont-taskList-ul li{box-shadow: 2px 2px 2px 0px #f1f1f3;
        background:#fff}
    .cont-taskList-ul li:first-child{
        width:25%;height: 100%;}
    .cont-taskList-ul .last{ width:25%;height: 100%;}
    .cont-taskList-ul li:nth-child(2){width: 40%}




    .footer{

        width: 100%;
        height: 70px;
        box-shadow:0 1px 15px 1px rgba(52,40,104,.08);
        border-top: .07rem solid #eee;}


