@media screen and (max-width:1101px) {

    .all{
        height: 100%;
        display: flex;
        flex-direction: column}
    .nav-bar{
        width: 100%;
        height: 72px;
        background: #fff;  }
    /*.nav-barFixed{width: 100%;*/
    /*height: 72px;*/
    /*background: #fff;*/
    /*position: fixed;*/
    /*margin-bottom: 72px;*/



    /*}*/
    .nav-bar div,.nav-bar .logo-box a{
        display: inline-block}
    .nav-bar .logo-box{
        position: relative;
        height: 72px;
        display: inline-block;
    }
    .nav-bar .logo-box img{
        position: absolute;
        top:0;
        left: 0;
        width: 172px;
        height: 72px;
        padding-left:14px;
        display: inline-block;
    }
    .nav-bar .logo-box .im2{display: none}
    .nav-bar .logo-box i:nth-child(1){
        position: absolute;
        top: 0;
        left:202px;
        height:72px ;
        line-height: 72px;
        text-align:center}
    .nav-bar .logo-box i:nth-child(2){
        position: absolute;
        top: 0;
        left:96px;
        height:72px ;
        line-height: 72px;
        text-align:center;
        display: none;}



    .nav-bar #header-sxc{

        height: 72px; background: #fff;
        padding-right:20%;
    }
    .nav-bar #header-sxc ul li{line-height: 72px}

    .nav-bar #header-sxc ul li i{
        font-size: 24px;
        color: #aea9c3;}
    /*section{width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*background: #ff0;*/
    /*}*/
    section{
        flex: 1;overflow: auto;}
    /*width: 100%;*/
    /*display: flex;}*/
    .side-box{width:240px;
        height: 100%;
        color: #fff;
        margin-right: 28px;
        padding-top:34px;
        background: #2c304d;}

    side-box ul li{
        font-size: 14px;}
    .side-box ul li h3 i,.side-box ul li h3 sapn{display: inline-block}
    .side-box ul li h3{line-height: 28px;
        position: relative;}
    .side-box ul li  i:nth-child(1){margin:2px 14px;
        font-size: 14px;
        color: #fff;}
    .side-box ul li:nth-child(1) i:nth-child(2){margin:2px 14px;
        font-size: 14px;
        color: #e75966;}
    .side-box ul li i:nth-child(3){
        position: absolute;
        top: 0;
        right:5%;
        font-size: 14px;}
    .side-box ul li{
        height: 100%;}
    .sub{display: none}
    .sub li:nth-child(1){padding-left:0}
    .sub li:nth-child(1) i:nth-child(3){margin-left:27%}
    .sub li{line-height:38px;padding-left:18%;
        font-size: 10px;}
    .sub{width:90%;background: #252946;
        margin:0 auto;
        font-size: 14px;color: #90a9bb}
    .sub li:nth-child(1){color:#fff;font-size: 12px}
    .sub li:nth-child(2){color:#e75966;}
    .content{ flex: 1;overflow: auto; height:900px;
        background: #ff0}

}